body {
  font-family: Arial;
  padding: 16px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: #0077cc;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

button {
  padding: 10px;
}

/* Desktop */

@media (min-width: 768px) {
  nav {
    flex-direction: row;
  }
}
